{% extends 'core/base.html' %}
{% load static %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a id="anav" class="navbar-brand" href="{% url 'indexPetshop' %}">PetShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a id="anav" class="nav-link" href= "{% url 'nosotros' %}" >Nosotros</a></li>
            <li class="nav-item"><a id="anav" class="nav-link" href="{% url 'registro' %}">Registrarse</a></li>
            <li class="nav-item active"><a id="anav" class="nav-link" href="{% url 'registro' %}">Ingresar</a></li>
    </nav>
    {% endblock %}
{% block content %}
    <div class="container" align="center">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post">
                       <h2><div class="text-center header" align="center">Ingresar a la Tienda</div></h2> 
                        <fieldset style="width:50%">   
                            <div class="form-group">
                                <label for="correo">Correo &nbsp;</label>
                                <input class="form-control" type="email" name="correo" id="correo" 
                                    aria-describedby="correo-help" placeholder="Escribe aquí tu correo">
                                <small id="correo-help" class="form-text text-muted">
                                    
                                </small>
                            </div>
                            <div class="form-group">
                                <br>
                                <label for="password">Contraseña</label>
                                <input class="form-control" type="password" name="password" id="password" 
                                    aria-describedby="password-help" placeholder="Escribe aquí tu contraseña">
                                <small id="password-help" class="form-text text-muted">
                                    
                                </small>
                            </div>
                        </br>
                            <div class="form-group">
                                <div class="row borde-bootstrap-row">
                                    <button type="submit" class="btn btn-primary">Ingresar</button>                                   
                                </div>
                            </div>
                        </br>
                            <a href="{% url 'registro' %}" class="nav-item nav-link">Registrarse</a> 
                            &nbsp;&nbsp;&nbsp;
                            <a href="#" class="nav-item nav-link">Olvide mi contraseña</a> 
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}