{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Mantenedor de Bodega</h1>
    {% if form %}
    <form method="POST" action="" enctype="multipart/form-data" id="formulario">
        <div class="form-group">
            {% csrf_token %} {{ form.as_ul }}
            {% if action == 'upd'  %}
                <script>
                    $(document).ready(function() {
                        $('#id_idbodega').attr('readonly', true);
                    });
                </script>
            {% endif %}

        </div>
        <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
        <a class="btn btn-success btnwidth" href="{% url 'mantenedorDeBodega' 'ins' -1 %}">Nuevo</a>
        {% if id != '-1' %}
        <a class="btn btn-danger btnwidth" href="{% url 'mantenedorDeBodega' 'del' id %}">Eliminar</a>
        {% endif %}
        {% if mesg %}
        <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
        {% endif %}
    </form>
    {% endif %}
    {% if list %}
    <br>
    <table id="tabla_datos">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th class="titulo_boton">Editar</th>
                <th class="titulo_boton">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for pr in list %}
            <tr>
                <td>{{ pr.idbodega }}</td>
                <td>{{ pr.categoria }}</td>
                <td>{{ pr.producto.nombre }}</td>
                <td>{{ pr.estado }}</td>
                <td><a href="{% url 'mantenedorDeBodega' 'upd' pr.idbodega %}" 
                    class="btn btn-primary btn-sm boton_chico">Editar</a></td>
                <td><a href="{% url 'mantenedorDeBodega' 'del' pr.idbodega %}" 
                    class="btn btn-danger btn-sm boton_chico">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
{% endblock content %}