{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/style.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container-fluid">
    <h1>Administrar Tienda</h1>
</div>
<div class="col-md-6">
    <div class="thumbnail">
        <ul class="menu admin">
          <li><a href="{% url 'mantenedorUsuario' %}">Mantenedor de Usuario</a></li><br>
            <li><a href="{% url 'producto' 'ins' -1 %}">Mantenedor de Productos</a></li><br>
            <li><a href="{% url 'mantenedorDeBodega' 'ins' -1 %}">Mantenedor de Bodega</a></li><br>
            <li><a href="{% url 'historialDeVentas' %}">Historial de Ventas</a></li><br>
            
        </ul>
    </div>
</div>
{% endblock content %}