{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}
<script src="core/js/validacion-formularios.js"></script>
<div class="container text-center"  id="uscuadro">
    <h1>Registrar Usuario</h1>
    <div class="content container text-center">
        <form method="POST" class="col-sm-12 col-md-6" id="formulario">
            {% csrf_token %} {{ form.as_p }}
            <div class="btn_guardar">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
            {% if mesg %}
                <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}