body {
    padding: 10px;
}

h1 {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
    text-align: center !important;
    font-size: 50px !important;
    color: rgb(50, 84, 60) !important;
}

.nav_item_text {
    font-weight: bold;
}

.img_menu {
    height: 32px;
    padding-right: 5px;
}

.navbar{
    background-color: #070707;
    margin:0%;
    padding: 0%;
    
}

.title1{
    font-family: 'sans-serif';
}

#anav:link, #anav:visited {
    background-color: #edf8ed;
    color: rgb(15, 13, 13);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
#anav:hover, #anav:active {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 13, 13);
  }

.nav:link, .nav:visited {
    background-color: #edf8ed;
    color: rgb(15, 13, 13);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.nav-item:hover {
    background-color: #edf8ed;
    color: rgb(15, 13, 13);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-item:active {
    background-color: #edf8ed;
    color: rgb(15, 13, 13);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.nav-item:link {
    background-color: #edf8ed;
    color: rgb(15, 13, 13);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-item:visited {
    background-color: #edf8ed;
    color: rgb(15, 13, 13);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
